In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("data/ks2_results_data.csv")

In [12]:
df

,SCHNAME,RECTYPE,ALPHAIND,LEA,ESTAB,URN,SCHNAME.1,ADDRESS1,ADDRESS2,ADDRESS3,...,MATPROG_LOWER_19,MATPROG_UPPER_19,READ_AVERAGE_19,MAT_AVERAGE_19,READPROG_UNADJUSTED,WRITPROG_UNADJUSTED,MATPROG_UNADJUSTED,READPROG_DESCR,WRITPROG_DESCR,MATPROG_DESCR
0,Drapers Mills Primary Academy,1,16974.0,886.0,2017.0,139021.0,Drapers Mills Primary Academy,St Peter's Footpath,NaN,NaN,...,-0.6,2.2,98.0,99.0,-3.8,-2.9,-6.1,5,4,5
1,Richmond Primary School,1,46838.0,886.0,2090.0,145013.0,Richmond Primary School,Unity Street,NaN,NaN,...,-7.7,-4.6,97.0,97.0,-4.3,0.8,-5.5,5,3,5
2,St Edward's Catholic Primary School,1,50454.0,886.0,2054.0,141386.0,St Edward's Catholic Primary School,New Road,NaN,NaN,...,-2.1,2.1,106.0,103.0,-2.8,1.8,-4.3,5,3,5
3,St Ethelbert's Catholic Primary School,1,50542.0,886.0,3722.0,118764.0,St Ethelbert's Catholic Primary School,"St Ethelbert's Catholic Primary School, Dane P...",NaN,NaN,...,-7.0,-3.2,102.0,100.0,-2.3,-0.3,-1.8,3,3,3
4,Copperfield Academy,1,14118.0,886.0,2024.0,139685.0,Copperfield Academy,Dover Road East,Northfleet,NaN,...,-6.0,-3.5,99.0,98.0,-2.3,-1.5,-4.4,4,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,"St Margaret's, Collier Street Church of Englan...",1,52838.0,886.0,3090.0,118636.0,"St Margaret's, Collier Street Church of Englan...",Collier Street,Marden,NaN,...,-4.3,1.1,109.0,106.0,3.3,0.0,0.1,1,3,3
346,Lady Boswell's Church of England Voluntary Aid...,1,31810.0,886.0,3317.0,118721.0,Lady Boswell's Church of England Voluntary Aid...,Plymouth Drive,NaN,NaN,...,-0.8,3.4,108.0,107.0,4.1,2.0,3.0,1,2,2
347,"Chevening, St Botolph's Church of England Volu...",1,12030.0,886.0,3307.0,118715.0,"Chevening, St Botolph's Church of England Volu...",Chevening Road,Chipstead,NaN,...,-3.3,0.6,107.0,105.0,5.0,-0.7,1.3,1,3,3
348,"Our Lady's Catholic Primary School, Dartford",1,42420.0,886.0,3733.0,118768.0,"Our Lady's Catholic Primary School, Dartford",King Edward Avenue,NaN,NaN,...,1.3,5.2,110.0,110.0,4.9,-1.1,3.6,1,3,1
349,Lukes test school,1,52720.0,886.0,3744.0,141156.0,Lukes test school,Trench Road,NaN,NaN,...,-0.8,2.2,111.0,109.0,1.3,-0.9,0.7,3,3,3

In [13]:
# Adding an 'id' column starting from 1
df["SchoolID"] = range(0, len(df))

In [14]:
df["SchoolID"]

0        0
1        1
2        2
3        3
4        4
      ...
345    345
346    346
347    347
348    348
349    349
Name: SchoolID, Length: 350, dtype: int64

In [15]:
df.to_csv("data/ks2_results_data.csv")